# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
*/target/**
*/bin/**

*.classpath
*.project

.settings/
.classpath
.project
target/
/bin/

*.log
static/

# Eclipse
.classpath
.project
.settings/

# Maven
pom.xml.versionsBackup
target/
bin/

.sonarlint/**
.metadata/**
.recommenders/**

# IntelliJ
*.iml
*.iws
*.ipr
.idea/

**/service/target/**